*{
  color: white;
  background: rgb(22,18,62);

}
head {

}

h1{
  color: rgb(246,252,113);
  font-family: Papyrus;
  font-size: 48px;
  position: relative;
  text-align: center;
  text-decoration: bold;
  text-decoration-color: rgb(254,197,143);
}
h3 {
  font-family: Helvestica
  position: relative;
  text-align: center;
  font-size: 28px;
}
h2{
  font-family: Papyrus;
  font-size: 36px;
  position: relative;
  text-align: center;
  text-decoration: underline;
  color: rgb(206,167,219);

}
fal-head{
  font-family: Papyrus;
  font-size: 30px;
  color: rgb(169,61,220);
  text-decoration: bold;
}
latte-head{
  font-family: Papyrus;
  font-size: 30px;
  color: rgb(255,121,173);
  text-decoration: bold;
}
lgend-head{
  font-family: Papyrus;
  font-size: 30px;
  color: rgb(255,35,24);
  text-decoration: bold;
}
p {
  font-family: Helvestica;
  font-size: 24px;
  text-indent: 2;
}
li{
  font-size: 20px;
}
a {
  font-size: 20px;
  color: rgb(55,134,181);
}
